VITE_REACT_APP_LOCATION=http://127.0.0.1
VITE_REACT_APP_BASE_URL=http://url_api:9999
VITE_PORT=80
VITE_REACT_APP_TG_AUTH_BOT_NAME=TELEGRAM_BOT_NAME
VITE_REACT_APP_MAPTILER_KEY=API_KEY
NGINX_DOMAIN_SERVER_NAME=test.com
VITE_REACT_APP_BASE_URL_PREFIX=''
VITE_REACT_RELEASE_VERSION = 2.2.0
