* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: #212428;
  color: #fff;
  font-family: 'Montserrat-Regular', sans-serif;
}